<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<%= url('/styles.css')%>">
    <title>I've moved!</title>
  </head>
  <body>
    <div>
      <h1>
        The GDS libary has now moved!
      </h1>
        <p>
          You can find it <a href="https://gds-library.cloudapps.digital/">on the PaaS</a>
        </p>
        <p>
          Please update your bookmark.
        </p>
    </div>
  </body>
</html>
